.img {
  height: 36px;
  width: 160px;
  margin: auto;
  margin-top: 10px;
}

.card {
  top: 30%;
  margin: auto;
  background-color: white;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}
